<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <style>
      form {
        display: flex;
        gap: 4px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
      }
      button {
        display: block;
      }
    </style>
  </head>
  <body>
    <form method="post">
      <h1>Login</h1>
      <div>
        <label for="email">Email</label>
        <input type="text" name="email" />
      </div>
      <div>
        <label for="password">Password</label>
        <input type="password" name="password" />
      </div>
      <button type="submit">Login</button>
    </form>
  </body>
</html>
